table,
th,
td {
  text-align: center;
  padding: 10px;
}

table {
  position: relative;
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  background-color: var(--lime);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: bold;
}

tbody {
  font-size: 1.2rem;
}

tbody tr:nth-child(odd) {
  background-color: rgba(155, 215, 255, 0.267);
}
tbody tr:nth-child(even) {
  background-color: var(--card-bg-dark);
}

td:first-child {
  font-weight: bold;
}
